<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"> 
  <style>
      * {
          font-family: 'Hind', sans-serif;
          line-height: 1.4em;
      }
      body {
          margin: 0px auto;
          padding: 20px;
          max-width: 880px;
      }
      p, li {
          font-size: 18px;
          color: #333333;
      }
      h2, h3, h4 {
          color: #4477BB;
      }
      a {
          text-decoration: underline;
          color: #002288;
      }
  </style>

    {{ content }}
  </body>
</html>